@font-face {
  font-family: "Azo Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Azo Sans Regular"),
    url("AzoSans/AzoSansRegular.woff") format("woff");
}

@font-face {
  font-family: "Azo Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Azo Sans Bold"), url("AzoSans/AzoSansBold.woff") format("woff");
}

body {
  margin: 0;
  width: 300px;
  background-color: rgb(243, 240, 236);

  font-family: "Azo Sans Regular";
}

header {
  padding: 0.5rem 0.5rem 0 0.5rem;
}

header > h1 {
  color: rgb(230, 113, 110);
  margin: 0;
  font-size: 1.5rem;
}

header > p {
  margin: 0.5rem 0;
  font-style: italic;
  color: rgb(36, 32, 72);
}

header > img {
  height: 30px;
}

/* section:last-child {
  margin-top: 2rem;
} */

section > h2 {
  color: rgb(36, 32, 72);
  font-size: 1rem;
  font-family: "Azo Sans Bold";
  padding: 0.5rem;
  text-decoration: underline;

  margin: 0;
}

section > ul {
  list-style-type: none;
  padding: 0;
}

.list {
  display: flex;
  flex-direction: column;
}

.list > button {
  font-size: 1rem;
  background-color: white;

  border: none;
  padding: 0.5rem;
  border-top: 1px solid rgb(36, 32, 72);
  text-align: left;
  cursor: pointer;
}

.list > button:last-child {
  border-bottom: 1px solid rgb(36, 32, 72);
}

.list > button:hover {
  background: rgb(146, 158, 194);
}

.list > button:focus {
  outline: none;
}

/* Increase specificity */
.active.active.active {
  background: rgb(96, 163, 142);
  cursor: default;
}
